In [ ]:
import pandas as pd

In [ ]:
!wget http://swcarpentry.github.io/python-novice-gapminder/files/python-novice-gapminder-data.zip

--2021-06-23 13:13:55--  http://swcarpentry.github.io/python-novice-gapminder/files/python-novice-gapminder-data.zip
Resolving swcarpentry.github.io (swcarpentry.github.io)... 185.199.108.153, 185.199.109.153, 185.199.110.153, ...
Connecting to swcarpentry.github.io (swcarpentry.github.io)|185.199.108.153|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 38471 (38K) [application/zip]
Saving to: ‘python-novice-gapminder-data.zip’

python-novice-gapmi 100%[===================>]  37.57K  --.-KB/s    in 0s

2021-06-23 13:13:55 (203 MB/s) - ‘python-novice-gapminder-data.zip’ saved [38471/38471]

In [ ]:
!unzip python-novice-gapminder-data.zip

Archive:  python-novice-gapminder-data.zip
  inflating: data/gapminder_all.csv
  inflating: data/gapminder_gdp_africa.csv
  inflating: data/gapminder_gdp_americas.csv
  inflating: data/gapminder_gdp_asia.csv
  inflating: data/gapminder_gdp_europe.csv
  inflating: data/gapminder_gdp_oceania.csv

In [ ]:
df = pd.read_csv('data/gapminder_all.csv')

In [ ]:
mask = df['continent'] == "Europe"
df[mask]

- Single equals `=` denotes variable assignment
- Double equals `==` denotes comparison

In [ ]:
2 == 2

True

In [ ]:
"Jonathan" == "Jonathan"

True

In [ ]:
"Jonathan" == "cookie"

False

In [ ]:
df.index = df['country']

In [ ]:
df.loc['Angola']

continent              Africa
country                Angola
gdpPercap_1952        3520.61
gdpPercap_1957        3827.94
gdpPercap_1962        4269.28
gdpPercap_1967        5522.78
gdpPercap_1972        5473.29
gdpPercap_1977        3008.65
gdpPercap_1982        2756.95
gdpPercap_1987        2430.21
gdpPercap_1992        2627.85
gdpPercap_1997        2277.14
gdpPercap_2002        2773.29
gdpPercap_2007        4797.23
lifeExp_1952           30.015
lifeExp_1957           31.999
lifeExp_1962               34
lifeExp_1967           35.985
lifeExp_1972           37.928
lifeExp_1977           39.483
lifeExp_1982           39.942
lifeExp_1987           39.906
lifeExp_1992           40.647
lifeExp_1997           40.963
lifeExp_2002           41.003
lifeExp_2007           42.731
pop_1952           4.2321e+06
pop_1957          4.56136e+06
pop_1962          4.82602e+06
pop_1967          5.24747e+06
pop_1972          5.89486e+06
pop_1977          6.16268e+06
pop_1982          7.01638e+06
pop_1987          7.87423e+06
pop_1992          8.73599e+06
pop_1997          9.87502e+06
pop_2002             10866106
pop_2007             12420476
Name: Angola, dtype: object

In [ ]:
df.loc['Angola', 'gdpPercap_1952']

3520.610273

In [ ]:
df['gdpPercap_1952']

In [ ]:
df.loc[:,'gdpPercap_1952']

In [ ]:
df.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972']

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

In [ ]:
myList = [2, 3, 4, 5]

In [ ]:
myList = [2, 3, 4, "Jonathan"]

In [ ]:
myList[-1][1]

'o'

In [ ]:
countryList = ['Italy', 'Poland']

In [ ]:
len(countryList)

2

In [ ]:
df.loc[countryList]

        continent country  gdpPercap_1952  ...    pop_1997  pop_2002  pop_2007
country                                    ...
Italy      Europe   Italy     4931.404155  ...  57479469.0  57926999  58147733
Poland     Europe  Poland     4029.329699  ...  38654957.0  38625976  38518241

[2 rows x 38 columns]

In [ ]:
df.loc[['Italy', 'Poland']]

        continent country  gdpPercap_1952  ...    pop_1997  pop_2002  pop_2007
country                                    ...
Italy      Europe   Italy     4931.404155  ...  57479469.0  57926999  58147733
Poland     Europe  Poland     4029.329699  ...  38654957.0  38625976  38518241

[2 rows x 38 columns]

In [ ]:
mask = df['gdpPercap_2007'] > 30000
df[mask]

                continent          country  ...   pop_2002   pop_2007
country                                     ...
Canada           Americas           Canada  ...   31902268   33390141
United States    Americas    United States  ...  287675526  301139947
Hong Kong China      Asia  Hong Kong China  ...    6762476    6980412
Japan                Asia            Japan  ...  127065841  127467972
Kuwait               Asia           Kuwait  ...    2111561    2505559
Singapore            Asia        Singapore  ...    4197776    4553009
Austria            Europe          Austria  ...    8148312    8199783
Belgium            Europe          Belgium  ...   10311970   10392226
Denmark            Europe          Denmark  ...    5374693    5468120
Finland            Europe          Finland  ...    5193039    5238460
France             Europe           France  ...   59925035   61083916
Germany            Europe          Germany  ...   82350671   82400996
Iceland            Europe          Iceland  ...     288030     301931
Ireland            Europe          Ireland  ...    3879155    4109086
Netherlands        Europe      Netherlands  ...   16122830   16570613
Norway             Europe           Norway  ...    4535591    4627926
Sweden             Europe           Sweden  ...    8954175    9031088
Switzerland        Europe      Switzerland  ...    7361757    7554661
United Kingdom     Europe   United Kingdom  ...   59912431   60776238
Australia         Oceania        Australia  ...   19546792   20434176

[20 rows x 38 columns]

In [ ]:
mask = df > df.mean()

In [ ]:
wealthScore = mask.aggregate('sum', axis=1) / len(df.columns)

In [ ]:
df.groupby('continent').sum()

           gdpPercap_1952  gdpPercap_1957  ...    pop_2002    pop_2007
continent                                  ...
Africa       65133.768223    72032.275237  ...   833723916   929539692
Americas    101976.563805   115401.093329  ...   849772762   898871184
Asia        171450.972133   190995.187018  ...  3601802203  3811953827
Europe      169831.723043   208890.384478  ...   578223869   586098529
Oceania      20596.171300    23197.044910  ...    23454829    24549947

[5 rows x 36 columns]

In [ ]:
df['gdpPercap_1982']

In [ ]:
df.loc['Denmark']['gdpPercap_1952':'gdpPercap_2007']

In [ ]:
df.loc[:,'gdpPercap_1987':'gdpPercap_2007']

                gdpPercap_1987  gdpPercap_1992  ...  gdpPercap_2002  gdpPercap_2007
country                                         ...
Algeria            5681.358539     5023.216647  ...     5288.040382     6223.367465
Angola             2430.208311     2627.845685  ...     2773.287312     4797.231267
Benin              1225.856010     1191.207681  ...     1372.877931     1441.284873
Botswana           6205.883850     7954.111645  ...    11003.605080    12569.851770
Burkina Faso        912.063142      931.752773  ...     1037.645221     1217.032994
...                        ...             ...  ...             ...             ...
Switzerland       30281.704590    31871.530300  ...    34480.957710    37506.419070
Turkey             5089.043686     5678.348271  ...     6508.085718     8458.276384
United Kingdom    21664.787670    22705.092540  ...    29478.999190    33203.261280
Australia         21888.889030    23424.766830  ...    30687.754730    34435.367440
New Zealand       19007.191290    18363.324940  ...    23189.801350    25185.009110

[142 rows x 5 columns]

In [ ]:
colsAfter1985 = [col for col in df.columns if col.startswith('gdp') and int(col[-4:]) > 1985]
df[colsAfter1985]

                gdpPercap_1987  gdpPercap_1992  ...  gdpPercap_2002  gdpPercap_2007
country                                         ...
Algeria            5681.358539     5023.216647  ...     5288.040382     6223.367465
Angola             2430.208311     2627.845685  ...     2773.287312     4797.231267
Benin              1225.856010     1191.207681  ...     1372.877931     1441.284873
Botswana           6205.883850     7954.111645  ...    11003.605080    12569.851770
Burkina Faso        912.063142      931.752773  ...     1037.645221     1217.032994
...                        ...             ...  ...             ...             ...
Switzerland       30281.704590    31871.530300  ...    34480.957710    37506.419070
Turkey             5089.043686     5678.348271  ...     6508.085718     8458.276384
United Kingdom    21664.787670    22705.092540  ...    29478.999190    33203.261280
Australia         21888.889030    23424.766830  ...    30687.754730    34435.367440
New Zealand       19007.191290    18363.324940  ...    23189.801350    25185.009110

[142 rows x 5 columns]

In [ ]:
difference1952 = df['gdpPercap_2007'] / df['gdpPercap_1952']

In [ ]:
difference1952.max()

32.35541662442322

In [ ]:
difference1952.argmax()

15

In [ ]:
difference1952.index

Index(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi',
       'Cameroon', 'Central African Republic', 'Chad', 'Comoros',
       ...
       'Serbia', 'Slovak Republic', 'Slovenia', 'Spain', 'Sweden',
       'Switzerland', 'Turkey', 'United Kingdom', 'Australia', 'New Zealand'],
      dtype='object', name='country', length=142)

In [ ]:
difference1952[difference1952 > 10]

country
Botswana             14.766499
Equatorial Guinea    32.355417
China                12.383898
Hong Kong China      13.005730
Korea Rep.           22.655071
Oman                 12.206445
Singapore            20.363009
Taiwan               23.794131
dtype: float64

# Lists

In [ ]:
fruit = ["apples", "oranges", "bananas", "kiwis"]

In [ ]:
type(fruit)

list

In [ ]:
fruit.append("dragonfruit")

In [ ]:
fruit

['apples', 'oranges', 'bananas', 'kiwis', 'dragonfruit']

In [ ]:
name = "Jonathan"

In [ ]:
name + " Reeve"

'Jonathan Reeve'

In [ ]:
name

'Jonathan'

In [ ]:
fruit.reverse()

In [ ]:
fruit

['dragonfruit', 'kiwis', 'bananas', 'oranges', 'apples']

In [ ]:
fruit.sort()

In [ ]:
fruit

['apples', 'bananas', 'dragonfruit', 'kiwis', 'oranges']

In [ ]:
fruit = []
fruit.append('apples')
fruit.append('bananas')
fruit.append('dragonfruit')

In [ ]:
fruit.pop()

'dragonfruit'

In [ ]:
fruit

['apples', 'bananas']

In [ ]:
fruit = ["apples", "apples", "apples", "strawberries"]

In [ ]:
fruit.count('apples')

3

In [ ]:
fruit.index("strawberries")

3

In [ ]:
fruit[3]

'strawberries'

In [ ]:
fruit[5]

IndexError: ignored

In [ ]:
fruit = "apples, oranges, bananas, kiwis".split(',')

In [ ]:
fruit

['apples', ' oranges', ' bananas', ' kiwis']

In [ ]:
', '.join(fruit)

'apples, oranges, bananas, kiwis'

In [ ]:
fruit.remove('oranges')

ValueError: ignored

In [ ]:
fruit

['apples', 'bananas', 'kiwis']

In [ ]:
del fruit[1]

In [ ]:
fruit

['apples', 'kiwis']

In [ ]:
df.drop('Algeria')

               continent         country  ...  pop_2002  pop_2007
country                                   ...
Angola            Africa          Angola  ...  10866106  12420476
Benin             Africa           Benin  ...   7026113   8078314
Botswana          Africa        Botswana  ...   1630347   1639131
Burkina Faso      Africa    Burkina Faso  ...  12251209  14326203
Burundi           Africa         Burundi  ...   7021078   8390505
...                  ...             ...  ...       ...       ...
Switzerland       Europe     Switzerland  ...   7361757   7554661
Turkey            Europe          Turkey  ...  67308928  71158647
United Kingdom    Europe  United Kingdom  ...  59912431  60776238
Australia        Oceania       Australia  ...  19546792  20434176
New Zealand      Oceania     New Zealand  ...   3908037   4115771

[141 rows x 38 columns]

In [ ]:
df = df.drop('Algeria')

# For Loops

```python
for fruit in fruitList:
    print(fruit)
```

- First line starts with `for`
- After `for`, we invent a variable name to call the item that we'll refer to within the for loop
- First line ends with a `:`
- Next *lines* are all indented four spaces

In [ ]:
fruitList = ['apples', 'oranges', 'bananas', 'kiwis']

In [ ]:
for fruit in fruitList: 
    print(fruit)

apples
oranges
bananas
kiwis

In [ ]:
for fruit in fruitList: 
    print("I really like eating", fruit)

I really like eating apples
I really like eating oranges
I really like eating bananas
I really like eating kiwis

In [ ]:
grantAwards = [35000, 30000, 5, 100000]
grantAwards.sort()
inflationRate = 0.05
for grant in grantAwards: 
    print("The original grant was: ", grant)
    withInflation = grant + grant * inflationRate
    print("Adjusted for inflation, that's: ", round(withInflation))

The original grant was:  5
Adjusted for inflation, that's:  5
The original grant was:  30000
Adjusted for inflation, that's:  31500
The original grant was:  35000
Adjusted for inflation, that's:  36750
The original grant was:  100000
Adjusted for inflation, that's:  105000

In [ ]:
for number in range(10): 
    print("This is the song that never ends")

This is the song that never ends
This is the song that never ends
This is the song that never ends
This is the song that never ends
This is the song that never ends
This is the song that never ends
This is the song that never ends
This is the song that never ends
This is the song that never ends
This is the song that never ends

In [ ]:
!ls

data  python-novice-gapminder-data.zip	sample_data

In [ ]:
!ls data/

gapminder_all.csv	  gapminder_gdp_americas.csv  gapminder_gdp_europe.csv
gapminder_gdp_africa.csv  gapminder_gdp_asia.csv      gapminder_gdp_oceania.csv

In [ ]:
import glob

In [ ]:
glob.glob('data/*.csv')

['data/gapminder_gdp_asia.csv',
 'data/gapminder_gdp_africa.csv',
 'data/gapminder_gdp_oceania.csv',
 'data/gapminder_gdp_americas.csv',
 'data/gapminder_all.csv',
 'data/gapminder_gdp_europe.csv']

In [ ]:
for filename in glob.glob('data/*.csv'): 
    print("I'm going to do something with the file: ", filename)

I'm going to do something with the file:  data/gapminder_gdp_asia.csv
I'm going to do something with the file:  data/gapminder_gdp_africa.csv
I'm going to do something with the file:  data/gapminder_gdp_oceania.csv
I'm going to do something with the file:  data/gapminder_gdp_americas.csv
I'm going to do something with the file:  data/gapminder_all.csv
I'm going to do something with the file:  data/gapminder_gdp_europe.csv

In [ ]:
for row in df.iterrows():
    index, data = row 
    print("GDP in 1957 minus 100: ", data['gdpPercap_1957'] - 100)

In [ ]:
df['gdpPercap_1957'] - 100

country
Angola             3727.940465
Benin               859.601080
Botswana            818.232535
Burkina Faso        517.183465
Burundi             279.564628
                      ...
Switzerland       17809.489730
Turkey             2118.754257
United Kingdom    11183.177950
Australia         10849.649590
New Zealand       12147.395320
Name: gdpPercap_1957, Length: 141, dtype: float64

## Accumulators

In [ ]:
cookiePrices = [10.0, 15.0, 20.0, 21.99]
tax = 0.10 
cookiePricesWithTax = []
for cookiePrice in cookiePrices: 
    withTax = cookiePrice + cookiePrice * tax
    cookiePricesWithTax.append(withTax)

In [ ]:
cookiePricesWithTax

[11.0, 16.5, 22.0, 24.189]

In [ ]:
names = ["Reeve, Jonathan", "Monster, Cookie", "Bird, Big"]
namesReordered = []
for name in names: 
    nameParts = name.split(', ')
    nameParts.reverse()
    reorderedName = ' '.join(nameParts)
    namesReordered.append(reorderedName)

In [ ]:
namesReordered

['Jonathan Reeve', 'Cookie Monster', 'Big Bird']

In [ ]:
df.columns

Index(['continent', 'country', 'gdpPercap_1952', 'gdpPercap_1957',
       'gdpPercap_1962', 'gdpPercap_1967', 'gdpPercap_1972', 'gdpPercap_1977',
       'gdpPercap_1982', 'gdpPercap_1987', 'gdpPercap_1992', 'gdpPercap_1997',
       'gdpPercap_2002', 'gdpPercap_2007', 'lifeExp_1952', 'lifeExp_1957',
       'lifeExp_1962', 'lifeExp_1967', 'lifeExp_1972', 'lifeExp_1977',
       'lifeExp_1982', 'lifeExp_1987', 'lifeExp_1992', 'lifeExp_1997',
       'lifeExp_2002', 'lifeExp_2007', 'pop_1952', 'pop_1957', 'pop_1962',
       'pop_1967', 'pop_1972', 'pop_1977', 'pop_1982', 'pop_1987', 'pop_1992',
       'pop_1997', 'pop_2002', 'pop_2007'],
      dtype='object')

In [ ]:
cleanColumns = []
for column in df.columns: 
    if column.startswith('gdpPercap_'): 
        onlyYear = column.split('_')[-1]
        cleanColumns.append(onlyYear)

In [ ]:
cleanColumns

['1952',
 '1957',
 '1962',
 '1967',
 '1972',
 '1977',
 '1982',
 '1987',
 '1992',
 '1997',
 '2002',
 '2007']

# Data Cleaning

In [ ]:
gdps = ['235235.235', '235092.2342', '234098085.105', '23252085.58']
gdpsClean = []
for gdp in gdps: 
    gdpClean = float(gdp)
    gdpsClean.append(gdpClean)

sum(gdpsClean) / len(gdpsClean)

64455124.53854999

In [ ]:
gdps = ['@235235.235', '@@235092.2342', '!!!234098085.105', '$@%%23252085.58']
gdpsClean = []
for gdp in gdps: 
    cleanLetters = ""
    for letter in gdp: 
        if letter.isnumeric(): 
            cleanLetters = cleanLetters + letter
    gdpsClean.append(float(cleanLetters))

In [ ]:
gdpsClean

[235235235.0, 2350922342.0, 234098085105.0, 2325208558.0]

## Conditionals

```
if condition: 
    # thing to do if condition is met
else: 
    # thing to do if condition is not met
```

In [ ]:
answer = input('What was the price of the meal? :')
answer = float(answer)
if answer > 15: 
    print("That's too expensive! Try to go to a cheaper restaurant next time.")
else:
    print("That's a good deal! You should eat there more often!")

What was the price of the meal? :5
That's a good deal! You should eat there more often!